<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Pet Fax</title>
</head>
<body>
    <h2>Submit your on pet fact below!</h2>
    <div class="message">
        Have any fun facts youd like to share? Submit them using this form.
    </div>
    <div class="form-container">
        <form>
            <label for="fact"><h2>Fact</h2></label>
            <textarea name="fact"> </textarea>
            <br>
            <label for="submitter"><h2>Name</h2></label>
            <input name="submitter" type="text">
        </form>
    </div>
</body>
</html>